extends layout.jade

block content
  h1 Link Shortener Home Page
  form(action='/links' method='POST')
    fieldset
      legend Enter a Link
      input(type='text' name='long-link')
      button Shorten!
